<%- include('../../layouts/header'); %>
<h1>Tambah Layanan</h1>

<div class="card">
    <div class="card-body">
        <form action="/services" method="POST" class="form">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" name="name" placeholder="Nama">
            </div>
            <div class="form-group">
                <label for="name">Jenis</label>
                <select name="type" class="form-control">
                    <option value="Rawat Inap">Rawat Inap</option>
                    <option value="Rawat Jalan">Rawat Jalan</option>
                    <option value="Laboratorium">Laboratorium</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Status</label>
                <select name="status" class="form-control">
                    <option value="Aktif">Aktif</option>
                    <option value="Non Aktif">Non Aktif</option>
                </select>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"> Simpan </button>
            </div>
        </form>
    </div>
</div>

<%- include('../../layouts/footer'); %>